body {
	padding-top: 54px;
	background-image: url("img/bluesky1.jpg");
  	text-align: center;
  	font-family: 'Helvetica', sans-serif;
  	font-size: 20px;
  	font-weight: lighter;
  	color:  #000000;
  	margin-bottom: 80px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 50px 0;
}

.navbar {
    background-color: gray;
    border: none !important;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-align: center;
}

.navbar .navbar-collapse {
    text-align: center;
}

ul.nav  a:active {
    color: black !important;
    background-color: transparent;
    text-decoration:none; }

ul.nav a:link {
    color: black !important;
    background-color: transparent;
    text-decoration: none;
}

ul.nav a:visited {
    color:black;
    background-color: transparent;
    text-decoration: none;
}

ul.nav a:hover {
    color: #EF551F !important;
    background-color: transparent;
    text-decoration:none;
}

div.navbar-default > div.container 
{background-color: #gray;}

/* INDEX PAGE */
#title {
	text-align: center;
	font-family: 'Arial', sans-serif;
  	font-size: 70px;
  	color:  #EF551F ;
}
#title2 {
	text-align: left;
	font-family: 'Arial', sans-serif;
  	font-size: 60px;
  	color:  #EF551F ;
	text-transform: uppercase;
}


#subtitle {
	text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color:  black ;
}

#footer {
	text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color:  white;
}



.fa {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px !important;
    width: 50px !important; 
    text-decoration: none;
    border-radius: 50%;
    color: white;
}

.fa:hover {
	color: #EF551F;
}

.icons {
  text-align: center !important;
}



/* ABOUT PAGE */

#aboutheader {
	font-size: 30px;
}

#me {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.info {
  width: 50%;
  min-width: 10em;
  margin-left: auto;
  margin-right: auto;

}

a {
	color:#EF551F;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #EF551F !important;
    background-color: transparent;
    text-decoration:none;
}

.container {
  position: relative;
}



.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #EF551F!important;
    border: #EF551F!important;
  	color: white\ !important;
  	border-radius: 25%;
}




